@page "/"
@using Nexus.Components.Sections

<PageTitle>Nexus - Grow Smarter, Build with Confidence</PageTitle>


<div class="scroll-on-nav relative overflow-hidden bg-white dark:bg-gray-900 min-h-screen">
    <HeroSection />
    <TrustedBySection />
    <FeaturesSection />
    <ProcessStepsSection />
    <IntegrationsSection />
    <TestimonialsSection />
    <PricingSection />
    <FaqSection />
    <BlogSection />
    <ContactSection />
    <CtaSection />
</div>