@inherits LayoutComponentBase
@using Nexus.Components.Shared

<div class="min-h-screen bg-nexus-gray">
    <NavMenu />
    
    <main class="pt-16">
        @Body
    </main>
    
    <FooterSection />
    
    <ScrollToTop />
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
